// Palette 1
$color-main: #2b4f71;
$color-main-2: #657a97;
$color-main-3: #c9cfdf;
$color-main-4: #e9edf8;

// grey
$color-grey-1: #3A3A3A;
$color-grey-2: #616161;
$color-grey-3: #898989;
$color-grey-4: #B0B0B0;
$color-grey-5: #D8D8D8;